@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-stone-50 text-stone-900 antialiased;
}

@layer utilities {
  .highlight-yellow { @apply border-l-yellow-400 bg-yellow-50; }
  .highlight-blue { @apply border-l-blue-400 bg-blue-50; }
  .highlight-pink { @apply border-l-pink-400 bg-pink-50; }
  .highlight-orange { @apply border-l-orange-400 bg-orange-50; }
}
